#sobre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FF7300;
    font-size: 20px;
    margin: 50px;
}
.conteudo {
    display: flex;
    color: #fff;
    font-size: 16px;
    margin-inline: 50px;
}